{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row m-3 mb-5">
            <div class="col-lg-4 offset-lg-4 text-center">
                <hr>
                <h1>Shopping Cart</h1>
                <hr>
            </div>
        </div>
    </div>
    {% if cart_items %}
    <div class="container-fluid main_page_contents">
        <div class="row product_row">
                <div class="col-12 col-md-10 offset-md-1 col-l-8 offset-l-2 col-xl-6 offset-xl-3 mb-5">
                    <div class="table-responsive rounded table-striped">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr class="border_bottom">
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr class="border_bottom">
                                    <td class="py-3 w-25">
                                    {% if item.product.image %}
                                        <a href="../products/int:{{ item.item_id }}" >
                                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" 
                                                alt="{{ item.product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="../products/int:{{ item.item_id }}" >
                                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" 
                                                alt="{{ item.product.name }}">
                                        </a>
                                    a{% endif %}
                                    </td>
                                    <td class="py-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="pl-2 my-0"><strong>{{ item.product.name }} </strong></p>
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-12 col-md-6">
                                                {% if item.product.ram %}
                                                    <p class="my-0"><strong>Ram</strong> : {{ item.ram }}</p>
                                                {% else %}
                                                    <p class="my-0"><strong>Ram</strong> : N/A</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-6">
                                                {% if item.product.power %}
                                                    <p class="my-0"><strong>Plug Type</strong> : {{ item.power }}</p>
                                                {% else %}
                                                    <p class="my-0"><strong>Plug Type</strong> : N/A</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-12">
                                                <p class="small text-muted pl-2">SKU: {{ item.product.sku|upper }}</p>
                                            </div>
                                            <div class="col-12">
                                                <a class="small text-muted" href="../products/int:{{ item.item_id }}"> Product Details</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn decrement_button" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control qty_input" type="number" 
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn increment_button"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.ram %}
                                                        <input type="hidden" name="product_ram" value="{{ item.ram }}">
                                                    {% endif %}
                                                    {% if item.product.power %}
                                                        <input type="hidden" name="product_power" value="{{ item.power }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-item text-info float-right"><small>Update</small></a>
                                        <a class="remove-item text-danger float-left" id="remove_{{ item.item_id }}" data-product="{{ item.ram }}|{{ item.power }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.sub_total }}</p>
                                    </td>
                                </tr>

                            {% endfor %}
                            <tr class="table_price_row">
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Shopping Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                                    {% if free_delivery_delta > 0 %}
                                        <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    {% else %}
                                        <h6>Qualifies for free delivery</h6>
                                    {% endif %}
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            Free shipping, add <strong>€{{ free_delivery_delta }}</strong> more to your cart.
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="table_button_row">
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn main_btn mb-1">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn invert_main_btn mb-1">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-10 offset-1 col-md-8 offset-md-2 text-center mt-5">
        <h6>No items in your shopping cart</h6>
        <a href="{% url 'products' %}" class="btn main_btn">Continue Shopping <i class="fas fa-chevron-right"></i></a>
    </div>
    {% endif %}
    {% endblock %}
    
    {% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    
    <script type="text/javascript">
        $('.update-item').click(function(e) {
            let form = $(this).prev('.update-form');
            console.log(form)
            form.submit();
        })

        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let ram = $(this).data('product').split('|')[0];
            if (ram == "product_power"){
                ram = "" 
            }
            let power = $(this).data('product').split('|')[1];
            let url = `/cart/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'product_ram': ram, 'product_power': power};
            $.post(url, data)
             .done(function() {
                location.reload();
             });
        })
    </script>
    {% endblock %}