{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row m-3 mb-5">
            <div class="col-lg-4 offset-lg-4 text-center">
                <hr>
                <h1>Shopping Cart</h1>
                <hr>
            </div>
        </div>
    </div>
    {% if cart_items %}
    <!-- HTML Code for mobile -->
    <div class="container-fluid d-block d-md-none">
        <div class="row">
            <div class="col-12">
                {% include "cart/cart-cost.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include "cart/checkout-section.html" %}
                <p class="small">Full cart content below;</p>
            </div>
            <hr>
        </div>
        {% for item in cart_items %}
            <div class="row">
                <div class="col-10 offset-1 text-center">
                    {% include "cart/product-image.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    {% include "cart/product-info.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    {% include "cart/qty-form-mobile.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 mt-1">
                    <p class="my-0 float-left">Unit Price €{{ item.product.price }}</p>
                    <p class="my-0 float-right">Sub-total €{{ item.sub_total }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <!-- HTML Code for medium & up -->
    <div class="container-fluid main_page_contents d-none d-md-block">
        <div class="row product_row">
                <div class="col-12 col-md-10 offset-md-1 col-l-8 offset-l-2 col-xl-6 offset-xl-3 mb-5">
                    <div class="table-responsive rounded table-striped">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr class="border_bottom">
                                    <th scope="col" class="pl-5">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col" class="pl-5">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr class="border_bottom">
                                    <td class="py-3 w-25">
                                        {% include "cart/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "cart/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        {% include "cart/qty-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.sub_total }}</p>
                                    </td>
                                </tr>

                            {% endfor %}
                            <tr class="table_price_row">
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "cart/cart-cost.html" %}
                                </td>
                            </tr>
                            <tr class="table_button_row">
                                <td colspan="5" class="text-right">
                                    {% include "cart/checkout-section.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-10 offset-1 col-md-8 offset-md-2 text-center mt-5">
        <h6>No items in your shopping cart</h6>
        <a href="{% url 'products' %}" class="btn main_btn">Continue Shopping <i class="fas fa-chevron-right"></i></a>
    </div>
    {% endif %}
    {% endblock %}
    
    {% block postloadjs %}
    {{ block.super }}
    
    {% include 'products/includes/quantity_input_script.html' %}
    
    <script type="text/javascript">
        $('.update-item').click(function(e) {
            let form = $(this).prev('.update-form');
            form.submit();
        })

        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let ram = $(this).data('product').split('|')[0];
            if (ram == "product_power"){
                ram = "" 
            }
            let power = $(this).data('product').split('|')[1];
            let url = `/cart/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'product_ram': ram, 'product_power': power};
            
            $.post(url, data)
             .done(function() {
                location.reload();
             });
        })
                   
    </script>
    {% endblock %}