<form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn decrement_button"
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control qty_input" type="number" 
                name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            {% if item.product.ram %}
                <input type="hidden" name="product_ram" value="{{ item.ram }}">
            {% endif %}
            {% if item.product.power %}
                <input type="hidden" name="product_power" value="{{ item.power }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="update-item text-info float-right pr-3"><small>Update</small></a>
<a class="remove-item text-danger float-left pl-3" id="remove_{{ item.item_id }}" data-product="{{ item.ram }}|{{ item.power }}"><small>Remove</small></a>

