{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="containe-fluid">
        <div class="row m-3 mb-5 mt-5">
            <div class="col-lg-4 offset-lg-4 text-center">
                <hr>
                <H1>Ready to start you first project?</H1>
                <a href="#" class="btn main_btn">Start Shopping</a>
                <hr>
            </div>
        </div>
    </div>
    <div class="containe-fluid">
        <div class="row mb-2">
            <div class="col-lg-4 offset-lg-2 col-10 offset-1 no-gutters">
                <div class="card">
                    <img class="card-img-top" src="{{ MEDIA_URL }}retropi.jpg" alt="place holder">
                    <div class="card-body">
                        <h5 test>RetroPie: Build Your Own Raspberry Pi Retro Gaming Rig</h5>
                        <p class="card-text">For around ¢50, you can build your very own vintage gaming rig that will
                            hook up to any HDMI-enabled
                            TV or monitor. This guide will show you everything you need to do to get playing.
                        </p>
                        <div class="row">
                            <div class="col">
                                <a href="https://howchoo.com/g/n2qyzdk5zdm/build-your-own-raspberry-pi-retro-gaming-rig"
                                    class="btn main_btn float-left">Read More</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-10 offset-1 no-gutters">
                <div class="card">
                    <img class="card-img-top" src="{{ MEDIA_URL }}introduction-to-raspberry-pi-3.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 test>Introduction to Raspberry Pi</h5>
                        <p class="card-text">This project you will connect up a Raspberry Pi computer and find out what
                            it can do. <br>
                        </p>
                        <div class="row">
                            <div class="col">
                                <a href="https://projects.raspberrypi.org/en/projects/raspberry-pi-getting-started"
                                    class="btn main_btn float-left">Read More</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="containe-fluid">
        <div class="row mb-2">
            <div class="col-lg-4 offset-lg-2 col-10 offset-1">
                <div class="card">
                    <img class="card-img-top" src="{{ MEDIA_URL }}picade.jpg" alt="place holder">
                    <div class="card-body">
                        <h5 test>RetroPie: Build Your Own Raspberry Pi Retro Gaming Rig</h5>
                        <p class="card-text">For around ¢50, you can build your very own vintage gaming rig
                            that will hook up to any HDMI-enabled TV or monitor. This guide will show you everything you
                            need to do to get playing.
                        </p>
                        <div class="row">
                            <div class="col">
                                <a href="https://projects-raspberry.com/new-raspberry-pi-4-picade-console-now-available/"
                                    class="btn main_btn float-left">Read More</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-10 offset-1 no-gutters">
                <div class="card">
                    <img class="card-img-top" src="{{ MEDIA_URL }}security-camera.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 test>RetroPie: Build Your Own Raspberry Pi Retro Gaming Rig</h5>
                        <p class="card-text">For around €50, you can build your very own vintage gaming rig that will
                            hook up to any HDMI-enabled TV or monitor.
                            This guide will show you everything you need to do to get playing.
                        </p>
                        <div class="row">
                            <div class="col">
                                <a href="https://www.geeky-gadgets.com/raspberry-pi-security-camera-27-05-2020/"
                                    class="btn main_btn float-left">Read More</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    

{% endblock%}