
/* -_-_-_-_-_-_-_-_-_-_ Card CSS _-_-_-_-_-_-_-_-_-_- */
.card-img-top{
    max-width: 100%;
    max-height: 360px;
    min-height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    min-height: 600px;
    max-height: 600px;
    border: none;
    }
.card, h5{
    color: #153243 !important;
    font: bold;
}

    /* ___________ Mobile Header ___________ */

@media screen and (max-width: 992px) {
    .card-img-top{
        max-height: 180px;
        min-height: 180px;
    }
    .card{
        min-height: 300px;
        }
  }