@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300;400;700&display=swap');
/* -_-_-_-_-_-_-_-_-_-_ Headings _-_-_-_-_-_-_-_-_-_- */

h1, h2, h3, h4, h5{
    font-family: "Roboto Condensed", sans-serif;
    color: #153243;;
}
p {
    font-family: "serrat", sans-serif;
}
.header-title{
    font-family: "Roboto Condensed", sans-serif;
}
a {
    font-family: "serrat", sans-serif;
}

/* ___________ Buttons ___________ */
.main_btn{
    border: solid 2px #153243;
    border-radius: 0;
}
.main_btn:hover{
    background: #153243;
    color: white;
}


/* ___________ Main Nav Bar & Footer ___________ */
.nav_row, .footer_row{
    background-color: #153243;
}
.nav_text, .footer_text{
    color: white;
}

.footer_text{
    font-size: 10px;
}
.footer_text, h5{
    padding-top: 5px;
}
.fa-raspberry-pi, strong{
    padding-left: 10px;
}
.nav_search{
    background-color: white;
}
.fa-shopping-cart, .fa-user{
    color: white;
}
.nav_right_col{
    padding-right: 35px;
}
.footer_left{
    padding-left: 50px;
}
.footer_left, h5{
    color: white !important;
}
.footericons{
    font-size: 20px;
    padding-left: 15px;
    text-align: center;
    padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
    .footer_text{
        font-size: 20px;
    }
    .footer_text, p{
        font-size: 15px;
    }
    .footer_text, h5{
        padding-top: 10px;
    }
    .footericons{
        font-size: 35px;
        padding-left: 50px;
        text-align: center;
    }
}