

/* ___________ Main Nav Bar & Footer ___________ */
.nav_row, .footer_row{
    background-color: #153243;
}
.nav_text, .footer_text{
    color: white;
}
.footer_text, h5{
    padding-top: 10px;
}
.fa-raspberry-pi, strong{
    padding-left: 10px;
}
.nav_search{
    background-color: white;
}
.fa-shopping-cart, .fa-user{
    color: white;
}
.nav_right_col{
    padding-right: 35px;
}
.footer_left{
    padding-left: 50px;
}
.footericons{
    font-size: 35px;
    padding-left: 50px;
    text-align: center;
}