# css for products page

.card-img-top{
    max-height: 360px;
    min-height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-star, .fa-tag{
    color: orange;
}

.product_title{
    min-height: 75px;
}