<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-l-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 d-block d-lg-none" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item d-block d-l-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 d-block d-lg-none" href="{% url 'products' %}" id="home-link">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 product-menu" href="#" id="pi-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Raspberry Pi Consoles <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0 text-black" aria-labelledby="raspberry pi links">
                <a href="{% url 'products' %}?category=raspberry_pi_4" class="dropdown-item">Raspberry Pi 4</a>
                <a href="{% url 'products' %}?category=raspberry_pi_3" class="dropdown-item">Raspberry Pi 3</a>
                <a href="{% url 'products' %}?category=raspberry_pi_zero" class="dropdown-item">Raspberry Pi Zero</a>
                <a href="{% url 'products' %}?category=raspberry_pi_pico" class="dropdown-item">Raspberry Pi Pico</a>
                <a href="{% url 'products' %}?category=All Raspberry Pi,raspberry_pi_4,raspberry_pi_3,raspberry_pi_zero,raspberry_pi_pico" 
                class="dropdown-item">All Raspberry Pi</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 product-menu" href="#" id="sccessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cases & Displays <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Accessories link">
                <a href="{% url 'products' %}?category=case" class="dropdown-item">Cases</a>
                <a href="{% url 'products' %}?category=display" class="dropdown-item">Display</a>
                <a href="{% url 'products' %}?category=vid_audio_cable" class="dropdown-item">Video / Audio Cables</a>           
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 product-menu" href="#" id="sccessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Accessories link">
                <a href="{% url 'products' %}?category=modules" class="dropdown-item">Add-on Modules</a>
                <a href="{% url 'products' %}?category=components" class="dropdown-item">Components & Sensors</a>
                <a href="{% url 'products' %}?category=power_cable" class="dropdown-item">Power Cables</a>
                <a href="{% url 'products' %}?category=usb_dongles" class="dropdown-item">USB Dongles</a>             
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 product-menu" href="#" id="kits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Raspberry Kits <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Raspberry kits link">
                <a href="{% url 'products' %}?category=game_kit" class="dropdown-item">Gaming</a>
                <a href="{% url 'products' %}?category=project" class="dropdown-item">Projects</a>
                <a href="{% url 'products' %}?category=mini_projects" class="dropdown-item">Mini Projects</a>
                <a href="{% url 'products' %}?category=All Kits,game_kit,project,mini_projects" class="dropdown-item">All Kits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link product-menu" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product Sort <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price (low to high)</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Price (high to low)</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
            </div>
        </li>
    </ul>
</div>