{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container-fluid main_page_contents mt-5">
    <div class="row product_row">
            <div class="col-10 offset-1 col-md-6 offset-md-3 col-xl-4 offset-xl-4 mb-5">
              <h1 class="text-center">{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
