{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row m-3 mb-5">
            <div class="col-lg-4 offset-lg-4 text-center">
                <hr>
                <h1>500</h1>
                <h1>Server Error</h1>
                <br>
                <a href="{% url 'products' %}" class="btn main_btn">Start Shopping <i
                    class="fas fa-chevron-right"></i></a>
                <hr>
            </div>
        </div>
    </div>
    
    {% endblock %}