{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row m-3 mb-5">
            <div class="col-lg-4 offset-lg-4 text-center">
                <hr>
                <h1>Edit your review</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-left">
                <form method="POST" action="#">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-8">
                            <small>Review Title:</small><br>
                            <input type="text" id="title" name="title" value="{{ form.title.value }}" id='id_title' class="w-100" required>
                                <label for="title"></label>
                        </div>
                        <div class="col-12 col-md-4 pl-md-3">
                            <small>Recommend Buy?</small>
                            {% if form.recommend.value == "Yes" %}
                                <select class="form-control rounded-0 w-50 recommended_drop_down" 
                                    name="recommend" id='id_recommend' value="{{ form.recommend.value }}" required>
                                    <option hidden disabled selected value> </option>
                                    <option value="Yes" selected>Yes</option>
                                    <option value="No">No</option>
                                </select>
                            {% else %}
                            <select class="form-control rounded-0 w-50 recommended_drop_down" 
                                name="recommend" id='id_recommend' value="{{ form.recommend.value }}" required>
                                <option hidden disabled selected value> </option>
                                <option value="Yes" >Yes</option>
                                <option value="No" selected>No</option>
                            </select>
                            {% endif %}
                        </div>
                        <div class="col-12 mb-3">
                            <small>Your Review:</small>
                            <textarea id="review" name="review" rows="4" class="w-100" required> {{ form.review.value }}</textarea>
                        <div class="row mt-1">
                            <div class="col-6 col-md-3 offset-md-6 text-center pt-2">
                                <p><a href="{% url 'details' product_id %}" class="text-danger">Cancel</a></p>
                            </div>
                            <div class="col-6 col-md-3 text-center">
                                <button class="btn main_btn" type="submit">Update Review</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% endblock %}
    {% block postloadjs %}
    {{ block.super }}
    {% endblock %}